
.icon-wallet-close:before { content: '\e80d'; } /* '' */
.icon-facuet:before { content: '\e80e'; } /* '' */
.icon-swap-single-arrow:before { content: '\e810'; } /* '' */
.icon-barcode-scanner:before { content: '\e812'; } /* '' */
.icon-shuttle-outline:before { content: '\e813'; } /* '' */
.icon-shop:before { content: '\e814'; } /* '' */
.icon-profile:before { content: '\e816'; } /* '' */
.icon-instagram:before { content: '\e81f'; } /* '' */
.icon-twitter-outline-1:before { content: '\e827'; } /* '' */
.icon-close:before { content: '\e834'; } /* '' */
.icon-wallet:before { content: '\e836'; } /* '' */
.icon-copy:before { content: '\e837'; } /* '' */
.icon-document:before { content: '\e838'; } /* '' */
.icon-bridge:before { content: '\e839'; } /* '' */
.icon-validators:before { content: '\e83a'; } /* '' */
.icon-linkedin:before { content: '\e83b'; } /* '' */
.icon-facebook:before { content: '\e83c'; } /* '' */
